.page-header {
  background-color: #f4cfd9;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 48px;
  letter-spacing: 0.2rem;
}

.header-buttons-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  background-color: #f36b2b;
}

.header-button {
  padding: 5px;
  border: 1px solid #f36b2b;
}
