.attributes-selection {
  background-color: #ffedd1;
  padding: 50px;
}

.attributes-selection-container {
  display: flex;
  justify-content: space-between;
}

.select-container,
.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.attribute-select,
.character-name-input {
  background-color: #ffedd1;
  border: 1px solid #053229;
  border-radius: 8px;
  padding: 5px;
}

.nickname-container {
  display: flex;
  gap: 5px;
}

.attributes-label {
  font-size: 1.5em;
}

.tone-label-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.randomizer-btn-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: min-content;
}

.random-name-error {
  font-size: 0.7em;
  color: red;
}

.generate-limit-error {
  font-size: 1em;
  color: red;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .attributes-selection {
    padding: 20px;
  }

  .attributes-selection-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .attributes-selection-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}
