.attributes-selection {
  background-color: #f4e1c3;
  padding: 50px;
}

.attributes-selection-container {
  display: flex;
  justify-content: space-between;
}

.select-container,
.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.attribute-select,
.character-name-input {
  background-color: #f4e1c3;
  border: 1px solid #4f565c;
  border-radius: 8px;
  padding: 5px;
}

.nickname-container {
  display: flex;
  gap: 5px;
}

.attributes-label {
  font-size: 1.5em;
}

.tone-label-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.randomizer-btn-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: min-content;
}

@media screen and (max-width: 767px) {
  .attributes-selection {
    padding: 20px;
  }

  .attributes-selection-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .attributes-selection-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}
