.monster-selection {
  display: flex;
  flex-direction: column;
  background-color: #f4e1c3;
  padding: 50px;
}

.monster-selection-container {
  display: flex;
  justify-content: space-between;
}

.monster-selection-dropdowns {
  display: flex;
  gap: 20px;
}

@media screen and (max-width: 767px) {
  .monster-selection {
    padding: 20px;
  }

  .monster-selection-container,
  .monster-selection-dropdowns {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .monster-selection-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}
