.tooltip-container {
  position: relative;
}

.tooltip {
  position: absolute;
  top: 25px;
  right: 5px;
  background-color: #f4e1c3;
  border: 1px solid #4f565c;
  width: 200px;
  padding: 10px;
  border-radius: 8px;
}
