.app {
  height: 100dvh;
  width: 100%;
  box-sizing: border-box;
  background-color: #b89d47;
  padding: 20px;
  display: grid;
  gap: 20px;
  grid-template-rows: auto 1fr auto 1fr;
  scrollbar-gutter: stable;
}

@media screen and (max-width: 1024px) {
  .app {
    overflow-x: hidden;
  }
}
