@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: GermaniaOne;
}

.germania-one-regular {
  font-family: "Germania One", serif;
  font-weight: 400;
  font-style: normal;
  color: #4f565c;
}
