@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: GermaniaOne;
  height: 100vh;
  width: 100vw;
  background-color: #8c4c13;
}

.germania-one-regular {
  font-family: "Germania One", serif;
  font-weight: 400;
  font-style: normal;
  color: #4f565c;
  letter-spacing: 0.15rem;
}
